dataSource:
  dsn: <placeholder>

jwt:
  secret: <placeholder>
  exp: 24 # unit is hour `24h`

auth:
  polygonRPC: https://polygon.llamarpc.com
  nonceLifespan: 45_000 # unit is milliseconds `45000ms=45s`

casbin:
  driverName: mysql
  superUsers:
    - 0x183...3191
    - 0xc1e...1283

notification:
  appID: bar
  appKey: foo
