dataSource:
  dsn: <placeholder>

jwt:
  secret: <placeholder>
  exp: 24 # unit is hour

casbin:
  driverName: mysql
  superUsers:
    - 0x183...3191
    - 0xc1e...1283

notification:
  appID: bar
  appKey: foo
