dataSource:
  dsn: <placeholder>

jwt:
  secret: <placeholder>
  exp: 24 # unit is hour `24h`

auth:
  polygonRPC: https://polygon.llamarpc.com
  nonceLifespan: 45_000 # unit is milliseconds `45000ms=45s`

previewMode:
  wallet: 0x183...3192

casbin:
  driverName: mysql
  superUsers:
    - 0x183...3191
    - 0xc1e...1283

push:
    baseURI: "http://localhost:8088"
    token: "api-token"

awsConfig:
  accessKey: "aws-access-key"
  secretKey: "aws-secret-key"
  region: "aws-region"
  bucketName: "aws-bucket"

externalServices:
  SeedaoSppBase: "http://localhost:3000"
